@import './quasar.scss';

body.body--dark {
    background: #1c1c1d;
}

.q-btn-dropdown {
    box-shadow: none;
    button {
        text-transform: none;
    }
}

.footer {
    border-top: 1px solid #ffffff47;
}

.firebase-emulator-warning {
    display: none;
}
