// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #6ab547;
$secondary: #d81e5b;
$accent: #0b6e4f;

$dark: #1d1d1d;

$positive: #6ab547;
$negative: #d13648;
$info: #31ccec;
$warning: #f2c037;